<h2 class="card_title">{{country.name}}</h2>
<div class="flag">
    <picture src="{{country.flag}}" alt="{{country.name}} flag"></picture>
</div>
<ul class="params">
    <li class="params-items">
        <h3 class="params-title">Capital: {{country.capital}}</h3>
    </li>
    <li class="params-items">
        <h3 class="params-title">Population: {{country.population}}</h3>
    </li>
    <li class="params-items">
        <h3 class="params-title">Languages:</h3>
        <ul class="langs-list">

        </ul>
    </li>
</ul>